.trip {
  margin-top: 100px;
  margin-bottom: 100px;
}

.trip__title {
  margin-bottom: 5px;
  color: var(--grey-900);
  font: 400 24px var(--font-family);
}

.trip__sub_title {
  text-decoration: underline #864fdd;
}

.trip__list {
  position: relative;
}

.trip__img_place {
  width: 100%;
  filter: brightness(90%);
}

.trip__list_place {
  left: 0;
  bottom: 0;
  margin-left: 30px;
  position: absolute;
  margin-bottom: 26px;
  color: var(--grey-50);
  text-transform: capitalize;
  font: 500 26px var(--font-family);
}
